<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LED Matrix</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <MaterialIcon Margin="0 10px 0 0">@MaterialIcons.Home</MaterialIcon> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bike">
                <MaterialIcon Margin="0 10px 0 0">@MaterialIcons.Bike</MaterialIcon> Bike
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gallery">
                <MaterialIcon Margin="0 10px 0 0">@MaterialIcons.Gallery</MaterialIcon> Gallery
            </NavLink>
        </div>

         <div class="nav-item px-3">
            <NavLink class="nav-link" href="matrix">
                <MaterialIcon Margin="0 10px 0 0">@MaterialIcons.Matrix</MaterialIcon> Matrix
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <MaterialIcon Margin="0 10px 0 0">@MaterialIcons.Settings</MaterialIcon> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
