@page "/"
@inherits Page
@using System.Runtime.InteropServices
@inject Hub75Matrix matrix

<div>
    <div><span>Power:</span> <span>@(matrix.IsOn ? "On" : "Off")</span></div>
    <div><span>PWM Duration:</span> <span>@(matrix.PwmDuration)</span></div>
    <div><span>Render delay:</span> <span>@(matrix.RenderDelay)</span></div>
</div>

<div>
    <Button BackgroundColor="red" OnClick=@(() => matrix.Fill(Color.Red))>Test Red</Button>
    <Button BackgroundColor="green" OnClick=@(() => matrix.Fill(Color.Green))>Test Green</Button>
    <Button BackgroundColor="blue" OnClick=@(() => matrix.Fill(Color.Blue))>Test Blue</Button>
</div>

<div>
    <Button OnClick=@(() => matrix.Clear())>Clear</Button>
    <Button OnClick=@(() => matrix.CancelCurrentTask(true))>Cancel</Button>
</div>

<div>
    <PowerButton IsOn=@true OnToggle=RaspberryPi.TurnOff>@MaterialIcons.PowerButton</PowerButton>
    <PowerButton @bind-IsOn=@matrix.IsOn>@MaterialIcons.Lightbulb</PowerButton>
</div>


@code
{
    protected override void OnInitialized()
    {
        Title = "Home";
    }
}